Codigo/WarlockSoft_WS/WarlockSoft_WS/Web References/ServicioAgregarContacto/ServicioContacto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarContacto" type="tns:AgregarContacto" />
  <xs:element name="AgregarContactoResponse" type="tns:AgregarContactoResponse" />
  <xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException" />
  <xs:complexType name="AgregarContacto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_Contacto" type="xs:string" />
      <xs:element minOccurs="0" name="id_Usuario" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarContactoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="exception" type="tns:throwable" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
</xs:schema>