Codigo/WarlockSoft_WS/WarlockSoft_WS/Web References/ServicioAgregarProyecto/ServicioProyecto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WebService/" targetNamespace="http://WebService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarProyecto" type="tns:AgregarProyecto" />
  <xs:element name="AgregarProyectoResponse" type="tns:AgregarProyectoResponse" />
  <xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException" />
  <xs:complexType name="AgregarProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_Proyecto" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha Inicio" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha fin" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="Pago" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarProyectoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="exception" type="tns:throwable" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
</xs:schema>